DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require"
APP_AUTH_SECRET="use-um-segredo-com-pelo-menos-32-caracteres"
APP_LOGIN_PASSWORD_HASH="pbkdf2_sha256$210000$salt$hash"
GMAIL_SMTP_USER="seu-email@gmail.com"
GMAIL_SMTP_APP_PASSWORD="senha-de-app-do-gmail"
PASSWORD_RESET_EMAIL_FROM="Duda Agenda <seu-email@gmail.com>"
PASSWORD_RESET_EMAIL_TO="email-da-duda@exemplo.com"
